@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%; /* slate-50 #f8fafc */
    --foreground: 222 47% 11%; /* slate-900 #0f172a */
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 221 83% 53%; /* blue-600 #2563eb */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%; /* slate-100 #f1f5f9 */
    --secondary-foreground: 215 16% 47%; /* slate-500 #64748b */
    --muted: 210 40% 96%; /* slate-100 #f1f5f9 */
    --muted-foreground: 215 16% 47%;
    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;
    --destructive: 2 45% 43%; /* error #9f403d */
    --destructive-foreground: 0 0% 100%;
    --border: 214 32% 91%; /* slate-200 #e2e8f0 */
    --input: 213 27% 84%; /* slate-300 #cbd5e1 */
    --ring: 217 91% 60%; /* blue-500 #3b82f6 */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  select {
    @apply h-11;
  }
}
